* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
@mixin common{
     background: #FF5A30;
     border-radius: 5px;
     font-family: 'Space Grotesk';
     font-weight: 700;
     font-size: 16px;
     line-height: 26px;
     color: #FFFFFF;

}
.hr{
     border: 1px solid #C1D4E8;
}
// navigation
.head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
    
     //  logo

     // ul
     .menu{
          display: flex;
          gap:30px;
          li{
               a{
                    text-decoration: none;
                    color:#001F3F;
                    font-family: "Space Grotesk";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26px; /* 162.5% */
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                     
                         color:#FF5A30;
                          
                    }
                     
                     
               } 
          } 
     }
     .search{
          display: flex;
          gap: 40px;
          li{
               a{
                    text-decoration: none;
                    i{
                         height: 21px ;
                         width: 21px;
                          
                    }
               }
          }
     }
     .common-btn{
          @include common;
          width: 231px;
          padding: 10px 30px;
          display: flex;
          gap: 10px;
          align-items: center;
          transition: all 0.4s ease-in-out;
          &:hover{
               background: #001F3F;
          }
     }
}
 